.main {
    max-width: 100%;
}

.navbar-brand {
    font-family: "Alexandria", serif;
    font-size: 50px;
    color: black;
}

#nav_header {
    margin: 2rem;
    font-family: "Alexandria", serif;
    font-size: 1.2rem;
    color: black;
}
#nav_header:hover, #nav_header:focus {
    font-weight: bold;
}

.dropdown-menu {
    min-width: 15rem;
}

.dropdown-item {
    font-family: "Alexandria", serif;
    font-size: 1rem;
    padding: 1rem;
}

.title_bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/vineyard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    /* height:fit-content; */
    height: calc(fit-content - 124px);
}

#h1_title {
    font-family: "Alexandria", serif;
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 4rem;
}

h2 {
    font-family: "Alexandria", serif;
    font-size: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    font-family: "Alexandria", serif;
    font-size: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h5 {
    font-family: "Alexandria", serif;
}

#h3_title {
    font-family: "Barlow", serif;
    padding-top: 2rem;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 2rem;
    font-style: italic;
}

#context, #research, #design, #conclusion {
    max-width: 70%;
    margin: 0 auto !important; 
    padding: 2rem;
}

#usability, #accessibility {
    max-width: 90%;
    margin: 0 auto !important; 
}

.website_img {
    max-width: 100%;
    /* height: 281px; */
}

img {
    max-width: 100%;
}

.old_website, .new_website {
    max-width: 49%;
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    margin-bottom: 4%;
}

.old_website {
    margin-right: 2%;
}

.website_h3 {
    margin-top: auto;
}

.work_button {
    font-family: "Barlow", serif;
    font-size: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid transparent;
    border-radius: 8px;
    color: white;
    background-color: #676767;
    margin-top: auto;
    max-width: 50%;
  }
  
  .work_button:hover, .work_button:focus {
    color: black;
    background-color: white;
  }

p {
    font-family: "Barlow", serif;
}

.big_p {
    font-size: 25px;
}

.carousel {
    max-width: 49%;
}